@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: url("../public/assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: 'Avenir Bold';
    src: url("../public/assets/fonts/AvenirNextLTPro-Bold.otf");
}

html, body {
    @apply font-avenir text-white relative bg-nz-black tracking-wide font-bold overflow-x-hidden
}

@layer components {
    .scrollbar-app {
        @apply scroll-smooth scrollbar scrollbar-thin scrollbar-thumb-white scrollbar-track-poroporo
    }

    .text-stroke {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }
}
