@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: url("../public/assets/fonts/AvenirNextLTPro.otf");
    font-weight: 400;
    font-style: normal;
}

html, body {
    @apply font-roboto scroll-smooth text-white relative bg-nz-black
}
